@model PatientDashboard

@{
    ViewData["Title"] = "Dashboard";
    ViewData["User Name"] = Model.Name;
}

<link rel="stylesheet" href="~/css/patient/dashboard.css" asp-append-version="true" />


@* DataTables links *@
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css" asp-append-version="true" />
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

<script src="https://code.jquery.com/jquery-3.6.1.min.js"
        integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous">
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>


@await Html.PartialAsync("patientheader")

<div class="modal fade" id="createNewRequest" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" style="margin:0 auto">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Create New Request</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Here, I want to create a new request for...
                <br />
                <div class="align-items-center float-inherit" role="group" aria-label="Toggle Buttons">
                    <button type="button" class="btn btn-outline-info" onclick="toggleButton(1)" id="btn1">Me</button>
                    <button type="button" class="btn btn-outline-info" onclick="toggleButton(2)" id="btn2">Someone Else</button>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="redirectPage()">Continue</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">


    <ul class="nav nav-tabs">
        <li class="nav-item active">
            <a href="#tab1" class="nav-link active" data-bs-toggle="tab"> Dashboard </a>
        </li>
        <li class="nav-item">
            <a href="#tab2" class="nav-link" data-bs-toggle="tab"> Profile </a>
        </li>
    </ul>
    <div class="tab-content">
        <!-- Dashboard -->
        <div class="tab-pane fade show active" id="tab1">
            <h2>Medical History</h2>
            <div class="newrequest bg-secondary">
                <a class="btn btn-outline-info " id="newRequest" data-bs-toggle="modal" data-bs-target="#createNewRequest">
                    <span class="h6 p-0 m-0 text-center" style="color: #10bce9;">Create New Request</span>
                </a>
            </div>
            <br><br>
            <div class="table-responsive large ">
                <table class="table table-hover table-lg" id="table_dashboard">
                    <colgroup>
                        <col span="1" style="width: 20%;">
                        <col span="1" style="width: 60%;">
                        <col span="1" style="width: 20%;">
                    </colgroup>

                    <thead>
                        <tr>
                            <th>Created Date <span>&#8595;</span></th>
                            <th>Current Status</th>
                            <th>Document</th>
                        </tr>
                    </thead>

                    <tbody class="align-middle">
                        @for (int i = 0; i < Model.requests.Count; i++)
                        {
                            <tr>
                                <td>
                                    @Model.requests[i].Createddate
                                </td>
                                @switch (Model.requests[i].Status)
                                {
                                    case 1:
                                        <td>
                                            Processing
                                        </td>
                                        break;
                                    case 2:
                                        <td>
                                            Accepted
                                        </td>
                                        break;
                                    case 3:
                                        <td>
                                            Cancelled
                                        </td>
                                        break;
                                    case 4:
                                        <td>
                                            Reserving
                                        </td>

                                        break;
                                    case 5:
                                        <td>
                                            MD Is En Route
                                        </td>
                                        break;
                                    case 6:
                                        <td>
                                            MD On Site
                                        </td>
                                        break;
                                    case 7:
                                        <td>
                                            Follow Up
                                        </td>
                                        break;
                                    case 8:
                                        <td>
                                            Closed
                                        </td>
                                        break;
                                    case 9:
                                        <td>
                                            Locked
                                        </td>
                                        break;
                                    case 10:
                                        <td>
                                            Declined
                                        </td>
                                        break;
                                    case 11:
                                        <td>
                                            Consult
                                        </td>
                                        break;
                                    case 12:
                                        <td>
                                            Clear
                                        </td>
                                        break;
                                    case 13:
                                        <td>
                                            Cancelled By Provider
                                        </td>
                                        break;
                                    case 14:
                                        <td>
                                            CC Uploaded By Client
                                        </td>
                                        break;
                                    case 15:
                                        <td>
                                            CC Approved By Admin
                                        </td>
                                        break;
                                }
                                <td>
                                    @if (Model.File[i] > 0)
                                    {
                                        <a asp-controller="Patient" asp-action="ViewDocument" asp-route-id="@Model.requests[i].Requestid">
                                            (@Model.File[i]) Documents
                                        </a>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>

        <div class="tab-pane fade" id="tab2">

            <div class="tab-pane fade active show" id="profile" role="tabpanel" aria-labelledby="profile-tab">

                <div class="mt-5 row justify-content-center container-fluid">

                    <div class="col-10">

                        <div class="d-flex justify-content-between">
                            <h3>User Profile</h3>

                            <button onclick="history.go(-1)" class="btn btn-outline-info shadow-none night-mode-btn">
                                <span>Back</span>
                            </button>
                        </div>

                        <div class="shadow dashboard-card mt-3 p-3">

                            <h4>General Information</h4>

                            <div class="row">
                                <div class="col-lg-4 col-md-6 col-12">
                                    <div class="form-floating mt-3">
                                        <input asp-for="FirstName" class="form-control" placeholder="Edit Your First Name" disabled
                                               id="floatingTextarea2" />
                                        <label for="floatingTextarea2">First Name</label>
                                    </div>
                                </div>


                                <div class="col-lg-4 col-md-6 col-12">
                                    <div class="form-floating mt-3">
                                        <input asp-for="LastName" class="form-control" placeholder="Edit Your Last Name" disabled
                                               id="floatingTextarea2" />
                                        <label for="floatingTextarea2">Last Name</label>
                                    </div>
                                </div>

                                <div class="col-lg-4 col-md-6 col-12">

                                    <div class="form-floating mt-3">
                                        <input class="form-control" type="date" disabled
                                               id="date-of-birth">
                                        <label for="floatingTextarea2">Date of Birth:</label>

                                    </div>

                                </div>

                            </div>

                            <h4 class="mt-3">Contact Information</h4>

                            <div class="row">
                                <div class="col-lg-4 col-md-2 col-12">
                                    <div class="form-floating mt-3">
                                        <select disabled class="form-select" id="floatingSelectGrid" aria-label="Floating label select example">
                                            <option value="Mobile" selected>Mobile</option>
                                            <option value="Telephone">Telephone</option>
                                        </select>
                                        <label for="floatingSelectGrid">Type</label>
                                    </div>
                                </div>

                                <div class="col-lg-4 col-md-4 col-12">
                                    <div class="form-floating mt-3">
                                        <input id="patient-phone" asp-for="PhoneNumber" class="form-control" type="tel" placeholder="Edit Your Phone Number" disabled />
                                    </div>
                                </div>

                                <div class="col-lg-4 col-md-6 col-12">

                                    <div class="form-floating mt-3">

                                        <input asp-for="Email" class="form-control" placeholder="Edit Your Email" disabled
                                               id="floatingTextarea2">
                                        <label for="floatingTextarea2">Email</label>

                                    </div>

                                </div>

                            </div>

                            <h4 class="mt-3">Location Information</h4>

                            <div class="row">
                                <div class="col-lg-4 col-md-6 col-12">
                                    <div class="form-floating mt-3">
                                        <input asp-for="Street" class="form-control" placeholder="Street" disabled
                                               id="floatingTextarea2" />
                                        <label for="floatingTextarea2">Street</label>
                                    </div>
                                </div>


                                <div class="col-lg-4 col-md-6 col-12">
                                    <div class="form-floating mt-3">
                                        <input asp-for="City" class="form-control" placeholder="City" disabled />
                                        <label for="floatingTextarea2">City</label>
                                    </div>
                                </div>

                                <div class="col-lg-4 col-md-6 col-12">

                                    <div class="form-floating mt-3">

                                        <input asp-for="State" class="form-control" placeholder="State" disabled
                                               id="floatingTextarea2">
                                        <label for="floatingTextarea2">State</label>

                                    </div>

                                </div>

                                <div class="col-lg-4 col-md-4 col-12">

                                    <div class="form-floating mt-3">

                                        <input asp-for="ZipCode" class="form-control" placeholder="Zip Code" disabled
                                               id="floatingTextarea2">
                                        <label for="floatingTextarea2">Zip Code</label>

                                    </div>

                                </div>

                                <div class="col-lg-4 col-md-2 col-12 mt-3">
                                    <button onclick="" class="btn btn-outline-info shadow-none night-mode-btn h-100">
                                        <div class="d-flex">
                                            <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"><path d="M480-480q33 0 56.5-23.5T560-560q0-33-23.5-56.5T480-640q-33 0-56.5 23.5T400-560q0 33 23.5 56.5T480-480Zm0 294q122-112 181-203.5T720-552q0-109-69.5-178.5T480-800q-101 0-170.5 69.5T240-552q0 71 59 162.5T480-186Zm0 106Q319-217 239.5-334.5T160-552q0-150 96.5-239T480-880q127 0 223.5 89T800-552q0 100-79.5 217.5T480-80Zm0-480Z" /></svg>
                                            <span>Map</span>
                                        </div>

                                    </button>
                                </div>

                            </div>

                            <div class="d-flex justify-content-end">

                                <button id="editBtn" onclick="editDetails()" class="btn my-4 py-2 px-4" style="background-color: #10bce9; color: white;">
                                    Edit
                                </button>

                                <button id="saveBtn" onclick="saveDetails()" class="btn my-4 py-2 px-4" style="background-color: #10bce9; color: white; display:none;">
                                    Save
                                </button>

                            </div>

                        </div>

                    </div>


                </div>
            </div>

            <!-- Profile -->







        </div>
    </div>

</div>
<link rel="stylesheet" href="~/css/warningModal.css" asp-append-version="true" />




<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>


<script>

    const phoneInputField = document.getElementById("patient-phone");
    var patientPhoneInput = window.intlTelInput(phoneInputField, {
        utilsScript:
            "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js",
        preferredCountries: ["in"],
        separateDialCode: true,
        initialCountry: "in"
    });


    function changeCountryCode() {
        var countryCode = document.getElementById("patient-phone-country");
        countryCode.value = patientPhoneInput.getSelectedCountryData().dialCode;
        console.log(countryCode.value);
    }

</script>
<script>


    function editDetails() {

        var inputs = document.getElementsByTagName("input");
        for (var i = 0; i < inputs.length; i++) {
            inputs[i].disabled = false;
        }

        var selects = document.getElementsByTagName("select");
        for (var i = 0; i < selects.length; i++) {
            selects[i].disabled = false;
        }

        var editBtn = document.getElementById("editBtn");
        editBtn.style.display = "none";

        var saveBtn = document.getElementById("saveBtn");
        saveBtn.style.display = "block";

    }

    function saveDetails() {

        var inputs = document.getElementsByTagName("input");
        for (var i = 0; i < inputs.length; i++) {
            inputs[i].disabled = true;
        }

        var selects = document.getElementsByTagName("select");
        for (var i = 0; i < selects.length; i++) {
            selects[i].disabled = true;
        }


        var editBtn = document.getElementById("editBtn");
        editBtn.style.display = "block";

        var saveBtn = document.getElementById("saveBtn");
        saveBtn.style.display = "none";

    }
</script>
<script type="text/javascript">

    $(window).on('load', function () {
        new DataTable('#table_dashboard', {
            paging: true,
            ordering: false,
            scrollX: false,
            searching: false
        });
    });
</script>
<script>
    var activeButton = 0;
    function toggleButton(buttonNumber) {
        // Reset styles for both buttons
        document.getElementById('btn1').classList.remove('active');
        document.getElementById('btn2').classList.remove('active');

        // Toggle the active button
        if (activeButton !== buttonNumber) {
            activeButton = buttonNumber;
            document.getElementById('button' + buttonNumber).classList.add('active btn-primary');
        } else {
            activeButton = 0;
            let otherbtn = activeButton = 1 ? 2 : 1;
            document.getElementById('button' + otherbtn).classList.remove('active btn-primary');
        }
    }
    function redirectPage() {
        // Redirect based on the active button
        if (activeButton === 1) {
            // Redirect logic for Button 1
            window.location.href = '@Url.Action("SubmitInfoAboutMe", "Patient")';
        } else if (activeButton === 2) {
            // Redirect logic for Button 2
            window.location.href = '@Url.Action("SomeoneElseInfo", "Patient")';
        } else {
            // Handle case when no button is active
            alert('Please select a button before redirecting.');
        }
    }
</script>