@model PatientDashboard

@{
    ViewData["Title"] = "Dashboard";
    ViewData["User Name"] = Model.Name;
}

<link rel="stylesheet" href="~/css/patient/dashboard.css" asp-append-version="true" />


@* DataTables links *@
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css" asp-append-version="true" />
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

<script src="https://code.jquery.com/jquery-3.6.1.min.js"
        integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous">
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>


@await Html.PartialAsync("patientheader")

<div class="modal fade" id="createNewRequest" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" style="margin:0 auto">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Create New Request</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Here, I want to create a new request for...
                <br />
                <div class="align-items-center float-inherit" role="group" aria-label="Toggle Buttons">
                    <button type="button" class="btn btn-outline-info" onclick="toggleButton(1)" id="btn1">Me</button>
                    <button type="button" class="btn btn-outline-info" onclick="toggleButton(2)" id="btn2">Someone Else</button>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="redirectPage()">Continue</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">



    <div class="tab-content">
        <!-- Dashboard -->
        <div class="tab-pane fade show active" id="tab1">
            <h2>Medical History</h2>
            <div class="newrequest bg-secondary">
                <a class="btn btn-outline-info " id="newRequest" data-bs-toggle="modal" data-bs-target="#createNewRequest">
                    <span class="h6 p-0 m-0 text-center" style="color: #10bce9;">Create New Request</span>
                </a>
            </div>
            <br><br>
            <div class="table-responsive large ">
                <table class="table table-hover table-lg" id="table_dashboard">
                    <colgroup>
                        <col span="1" style="width: 20%;">
                        <col span="1" style="width: 60%;">
                        <col span="1" style="width: 20%;">
                    </colgroup>

                    <thead>
                        <tr>
                            <th>Created Date <span>&#8595;</span></th>
                            <th>Current Status</th>
                            <th>Document</th>
                        </tr>
                    </thead>

                    <tbody class="align-middle">
                        @for (int i = 0; i < Model.requests.Count; i++)
                        {
                            <tr>
                                <td>
                                    @Model.requests[i].Createddate
                                </td>
                                @switch (Model.requests[i].Status)
                                {
                                    case 1:
                                        <td>
                                            Processing
                                        </td>
                                        break;
                                    case 2:
                                        <td>
                                            Accepted
                                        </td>
                                        break;
                                    case 3:
                                        <td>
                                            Cancelled
                                        </td>
                                        break;
                                    case 4:
                                        <td>
                                            Reserving
                                        </td>

                                        break;
                                    case 5:
                                        <td>
                                            MD Is En Route
                                        </td>
                                        break;
                                    case 6:
                                        <td>
                                            MD On Site
                                        </td>
                                        break;
                                    case 7:
                                        <td>
                                            Follow Up
                                        </td>
                                        break;
                                    case 8:
                                        <td>
                                            Closed
                                        </td>
                                        break;
                                    case 9:
                                        <td>
                                            Locked
                                        </td>
                                        break;
                                    case 10:
                                        <td>
                                            Declined
                                        </td>
                                        break;
                                    case 11:
                                        <td>
                                            Consult
                                        </td>
                                        break;
                                    case 12:
                                        <td>
                                            Clear
                                        </td>
                                        break;
                                    case 13:
                                        <td>
                                            Cancelled By Provider
                                        </td>
                                        break;
                                    case 14:
                                        <td>
                                            CC Uploaded By Client
                                        </td>
                                        break;
                                    case 15:
                                        <td>
                                            CC Approved By Admin
                                        </td>
                                        break;
                                }
                                <td>
                                    @if (Model.FileCount[i] > 0)
                                    {
                                        <a asp-controller="Patient" asp-action="ViewDocument" asp-route-id="@Model.requests[i].Requestid">
                                            (@Model.File[i]) Documents
                                        </a>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>

    </div>

</div>
<link rel="stylesheet" href="~/css/warningModal.css" asp-append-version="true" />




<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>


<script>

    const phoneInputField = document.getElementById("patient-phone");
    var patientPhoneInput = window.intlTelInput(phoneInputField, {
        utilsScript:
            "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js",
        preferredCountries: ["in"],
        separateDialCode: true,
        initialCountry: "in"
    });


    function changeCountryCode() {
        var countryCode = document.getElementById("patient-phone-country");
        countryCode.value = patientPhoneInput.getSelectedCountryData().dialCode;
        console.log(countryCode.value);
    }

</script>
<script>


    function editDetails() {

        var inputs = document.getElementsByTagName("input");
        for (var i = 0; i < inputs.length; i++) {
            inputs[i].disabled = false;
        }

        var selects = document.getElementsByTagName("select");
        for (var i = 0; i < selects.length; i++) {
            selects[i].disabled = false;
        }

        var editBtn = document.getElementById("editBtn");
        editBtn.style.display = "none";

        var saveBtn = document.getElementById("saveBtn");
        saveBtn.style.display = "block";

    }

    function saveDetails() {

        var inputs = document.getElementsByTagName("input");
        for (var i = 0; i < inputs.length; i++) {
            inputs[i].disabled = true;
        }

        var selects = document.getElementsByTagName("select");
        for (var i = 0; i < selects.length; i++) {
            selects[i].disabled = true;
        }


        var editBtn = document.getElementById("editBtn");
        editBtn.style.display = "block";

        var saveBtn = document.getElementById("saveBtn");
        saveBtn.style.display = "none";

    }
</script>
<script type="text/javascript">

    $(window).on('load', function () {
        new DataTable('#table_dashboard', {
            paging: true,
            ordering: false,
            scrollX: false,
            searching: false
        });
    });
</script>
<script>
    var activeButton = 0;
    function toggleButton(buttonNumber) {
        // Reset styles for both buttons
        document.getElementById('btn1').classList.remove('active');
        document.getElementById('btn2').classList.remove('active');

        // Toggle the active button
        if (activeButton !== buttonNumber) {
            activeButton = buttonNumber;
            document.getElementById('button' + buttonNumber).classList.add('active btn-primary');
        } else {
            activeButton = 0;
            let otherbtn = activeButton = 1 ? 2 : 1;
            document.getElementById('button' + otherbtn).classList.remove('active btn-primary');
        }
    }
    function redirectPage() {
        // Redirect based on the active button
        if (activeButton === 1) {
            // Redirect logic for Button 1
            window.location.href = '@Url.Action("SubmitInfoAboutMe", "Patient")';
        } else if (activeButton === 2) {
            // Redirect logic for Button 2
            window.location.href = '@Url.Action("SomeoneElseInfo", "Patient")';
        } else {
            // Handle case when no button is active
            alert('Please select a button before redirecting.');
        }
    }
</script>