<table class="table table-responsive d-table">
    <thead>
        <tr class="table-secondary">
            <td>Name</td>
            <td></td>
            <td>Date of Birth</td>
            <td>Requestor</td>
            <td>Requested Date</td>
            <td>Phone</td>
            <td>Address</td>
            <td>Notes</td>
            <td>Chat With</td>
            <td>Actions</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            var bg = "";
            var name = item.Firstname + " " + item.Lastname;
            @switch (item.reqTypeId)
            {
                case 1:
                    bg = "#4fc54d";
                    break;
                case 2:
                    bg = "#ff9e2c";
                    break;
                case 3:
                    bg = "#10bce9";
                    break;
                case 4:
                    bg = "#f745aa";
                    break;
            }
            <tr>
                <td style="background-color: @bg;">@item.Firstname @item.Lastname</td>
                <td style="background-color: @bg;">
                    <a href="mailto: @item.Email" class="btn border rounded">
                        <img src="~/images/envelope.svg" />

                    </a>
                </td>
                <td style="background-color: @bg;">
                    @item.Strmonth
                </td>
                <td style="background-color: @bg;">
                    @if (item.reqTypeId == 1)
                    {
                        <div>
                            Patient <br />
                            @item.reqFirstname @item.reqLastname
                        </div>
                    }
                    @if (item.reqTypeId == 2)
                    {
                        <div>
                            Family/Friend <br />
                            @item.reqFirstname @item.reqLastname
                        </div>
                    }
                    @if (item.reqTypeId == 3)
                    {
                        <div>
                            Concierge <br />
                            @item.reqFirstname @item.reqLastname
                        </div>
                    }
                    @if (item.reqTypeId == 4)
                    {
                        <div>
                            Business <br />
                            @item.reqFirstname @item.reqLastname
                        </div>
                    }
                </td>
                <td style="background-color: @bg;">
                    @item.Createddate
                </td>
                <td style="background-color: @bg;">
                    <a href="tel:@item.Phonenumber" class="btn border rounded d-flex justify-content-center">
                        <img src="~/images/telephone.svg" />
                        @item.Phonenumber
                    </a>
                    (Patient)
                    @if (item.reqTypeId == 2)
                    {
                        <div>
                            <a href="tel:@item.FamilyPhonenumber" class="btn border rounded d-flex justify-content-center">
                                <img src="~/images/telephone.svg" />
                                @item.FamilyPhonenumber
                            </a>
                            (Family/Friend)
                        </div>
                    }
                    @if (item.reqTypeId == 3)
                    {
                        <div>
                            <a href="tel:@item.ConciergePhonenumber" class="btn border rounded d-flex justify-content-center">
                                <img src="~/images/telephone.svg" />
                                @item.ConciergePhonenumber
                            </a>
                            (Concierge)
                        </div>
                    }
                    @if (item.reqTypeId == 4)
                    {
                        <div>
                            <a href="tel:@item.BusinessPhonenumber" class="btn border rounded d-flex justify-content-center">
                                <img src="~/images/telephone.svg" />
                                @item.BusinessPhonenumber
                            </a>
                            (Business)
                        </div>
                    }
                </td>
                <td style="background-color: @bg;">
                    @item.Street, @item.City, @item.State, @item.Zipcode
                </td>
                <td style="background-color: @bg;">
                    -
                </td>
                <td style="background-color: @bg;">
                    <a class="btn border rounded">
                        <img src="~/images/personal_injury.svg" />
                        Provider
                    </a>
                </td>
                <td style="background-color: @bg;">
                    <a class="btn border rounded dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Actions
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li>
                            <a class="btn dropdown-item" data-bs-toggle="modal">Assign Case</a>
                        </li>

                        <li>
                            <a class="btn dropdown-item" id="cancelCase" onclick="cancelCase(item.reqClientId)">Cancel Case</a>
                        </li>

                        <li>
                            <a class="dropdown-item" href="@Url.Action("ViewCase", new {reqClientId = item.reqClientId})">View Case</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="@Url.Action("ViewNotes", new {reqClientId = item.reqClientId})">View Notes</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">Block Patient</a>
                        </li>
                    </ul>
                </td>
            </tr>

        }
    </tbody>
</table>
@* <div id="display">
    <partial name="_CancelCaseView" />
</div> *@
<script>
    $('#cancelCase').click(function cancelCase(requestClientId) {

        $.ajax({
            url: "/Admin/CancelCaseModal",
            data: { requestClientId: reqClientId },
            type: 'GET',
            success: function (result) {
                $('#cancelModalPatientName').text(result);
            },
            error: function (error) {
                console.log(error);
                alert('Error Fetching Request')
            },
        });
    });
</script>