@model TransferCase;
<div class="modal fade" id="transferModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header" style="background-color:#00B7FF">
                <h5 class="modal-title text-light" id="exampleModalLabel">Transfer Request</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3 text-secondary">
                        <p>To transfer this request, search and select another Physician</p>
                    </div>

                    <input id="ReqClientid" value="@Model.ReqClientid" hidden />

                    <div class="mb-3 text-secondary">
                        <div class="form-floating mb-3">
                            <select class="form-select text-secondary" aria-label="Default select example" id="RegionId">
                                @foreach (var items in Model.Region)
                                {
                                    <option value="@items.Regionid">@items.Name</option>
                                }
                            </select>
                            <label for="floatingInput">Narrow Search By Region</label>
                        </div>
                    </div>

                    <div class="mb-3 text-secondary">
                        <div class="form-floating mb-3">
                            <select class="form-select text-secondary" aria-label="Default select example" id="PhysicianId">
                                @foreach (var items in Model.Physicians)
                                {
                                    <option value="@items.Physicianid">@items.Firstname @items.Lastname</option>
                                }
                            </select>
                            <label for="floatingInput">Physician Name</label>
                        </div>
                    </div>

                    <div class="mb-3">
                        <textarea id="Description" class="form-control" placeholder="Description"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn text-light" id="transfer-case-submit-btn" style="background-color:#00B7FF" data-bs-dismiss="modal">Confirm</button>
                <button type="button" class="btn border border-info" style="color:#00B7FF">Cancel</button>
            </div>
        </div>
    </div>
</div>
<script>
    $('#transfer-case-submit-btn').click(function () {
        var description = $("#Description").val();
        var regionId = $("#RegionId").val();
        var physicianId = $("#PhysicianId").val();
        var reqClientId = $("#ReqClientid").val();
        console.log("hello")

        $.ajax({
            url: "/Admin/AssignCase",
            data: {
                ReqClientid: reqClientId,
                PhysicianId: physicianId,
                RegionId: regionId,
                Description: description
            },
            type: 'POST',
            success: function (result) {
                $('#display').html(result);
                $('#assignModal').modal('show');
                location.reload();
            },
            error: function (error) {
                console.log(error);
                alert('Error Fetching Request abcd  ')
            },
        });
    });
</script>
<script>
    $(function () {
        $("#RegionId").change(function () {
            // console.log("hello");
            let selectedValue = $('option:selected', this).val();
            $.ajax({
                url: '/Admin/FetchPhysician',
                method: 'GET',
                data: { selectedValue: selectedValue },
                success: function (response) {
                    $('#PhysicianId').empty();
                    console.log(response);
                    $.each(response, function (index, object) {
                        $('#PhysicianId').append($('<option>', {
                            value: object["physicianId"],
                            text: object["physicianName"]
                        }));

                    });
                },
                error: function (error) {
                    console.error('Error fetching data: ' + error);
                }
            });
        });
    });
</script>