
<table class="table table-hover table-responsive ">
    <thead>
        <tr class="table-secondary">
            <td>Name</td>
            <td></td>
            <td>Physician Name</td>
            <td>Date of Service</td>
            <td>Phone</td>
            <td>Address</td>
            <td>Chat With</td>
            <td>Actions</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.unpaidReqViewModels)
        {
            var bg = "";
            @switch (item.reqTypeId)
            {
                case 1:
                    bg = "#4fc54d";
                    break;
                case 2:
                    bg = "#ff9e2c";
                    break;
                case 3:
                    bg = "#10bce9";
                    break;
                case 4:
                    bg = "#f745aa";
                    break;
            }
            <tr>
                <td style="background-color: @bg;">@item.Firstname @item.Lastname</td>
                <td style="background-color: @bg;">
                    <a class="btn border rounded">
                        <img src="~/images/envelope.svg" />
                    </a>
                </td>
                <td style="background-color: @bg;">
                    @item.physicianName
                </td>
                <td style="background-color: @bg;">
                    @item.Createddate
                </td>
                <td style="background-color: @bg;">
                    <div class="border rounded d-flex justify-content-center">
                        @item.Phonenumber
                    </div>
                    (Patient)
                    @if (item.reqTypeId == 2)
                    {
                        <div>
                            <div class="border rounded d-flex justify-content-center">
                                @item.FamilyPhonenumber
                            </div>
                            (Family/Friend)
                        </div>
                    }
                    @if (item.reqTypeId == 3)
                    {
                        <div>
                            <div class="border rounded d-flex justify-content-center">
                                @item.ConciergePhonenumber
                            </div>
                            (Concierge)
                        </div>
                    }
                    @if (item.reqTypeId == 4)
                    {
                        <div>
                            <div class="border rounded d-flex justify-content-center">
                                @item.BusinessPhonenumber
                            </div>
                            (Business)
                        </div>
                    }
                </td>
                <td style="background-color: @bg;">
                    @item.Street, @item.City, @item.State, @item.Zipcode
                </td>
                <td style="background-color: @bg;">
                    <a class="btn border rounded">
                        <img src="~/images/personal_injury.svg" />
                        Provider
                    </a>
                </td>
                <td style="background-color: @bg;">
                    <a class="btn border rounded dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Actions
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li><a class="dropdown-item" href="@Url.Action("ViewCase", new {reqClientId = item.reqClientId})">View Case</a></li>
                        <li><a class="dropdown-item" href="#">View Uploads</a></li>
                        <li><a class="dropdown-item" href="#">View Notes</a></li>
                    </ul>
                </td>
            </tr>
        }
    </tbody>
</table>