@{
    Layout = "_AdminDashboardLayout";
}

@model Orders;
<div class="mt-3">
    <a asp-controller="Admin" asp-action="AdminDashboard" class="btn btn-outline-info float-end">
        <span class="h6 p-0 m-0 text-center" style="color: #10bce9;">&#60; Back</span>
    </a>
</div>
<div class="container">


    <form method="post">
        <input asp-for="@Model.Requestclientid" hidden />
        <div class="shadow p-3 dashboard-card mt-4">

            <h4>Send Orders</h4>
            <span class="m-0 fw-normal" style="color:grey;">ConfirmationNumber</span>
            <h4 class="text-info m-0">MKHOIFDSOIAH</h4>

            <div class="row">

                <div class="col-md-6 col-12">
                    <div class="form-floating mt-3">
                        <select class="form-select text-secondary" aria-label="Default select example" id="Healthprofessionalid">
                           @*  @foreach (var items in Model.ProfessionTypes)
                            {
                                <option value="@items.Healthprofessionalid">@items.Professionname</option>
                            } *@
                        </select>
                        <label for="floatingInput">Select Profession</label>
                    </div>
                </div>

                <div class="col-md-6 col-12">
                    <div class="form-floating mt-3">
                        <div class="dropdown">
                            <select class="form-select text-secondary" aria-label="Default select example" id="Vendorid">
                               @*  @foreach (var items in Model.HealthProfessionals)
                                {
                                    <option value="@items.Vendorid">@items.Vendorname</option>
                                } *@
                            </select>
                            <label for="floatingInput">Business</label>
                        </div>
                    </div>
                </div>

            </div>


            <div class="row">
                <div class="col-md-6 col-12">
                    <div class="form-floating mt-3">
                        <input asp-for="BusinessContact" class="form-control" placeholder="Leave a comment here" type="date"
                               id="floatingTextarea2">
                        <label for="floatingTextarea2">Business Contact</label>
                    </div>
                </div>

                <div class="col-md-6 col-12">
                    <div class="form-floating mt-3">
                        <input asp-for="Email" class="form-control" placeholder="Leave a comment here" type="email"
                               id="floatingTextarea2">
                        <label for="floatingTextarea2">Email</label>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-md-6 col-12">
                    <div class="form-floating mt-3">
                        <input type="text" class="form-control" id="floatingInputemail" placeholder="name@example.com" asp-for="FaxNumber" />
                        <label for="floatingInputemail">Fax Number</label>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col sm-12 col-12 ">
                <textarea asp-for="Prescription" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                <label for="floatingInputemail">Prescription or Order Details</label>
            </div>


            <h4 class="mt-4">Location Information</h4>

            <div class="row">
                <div class="col-md-6 col-12">
                    <div class="form-floating mt-3">
                        <div class="dropdown">
                            <select class="form-select text-secondary" aria-label="Default select example" id="Refill">
                                <option value="1" selected>1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                            </select>
                            <label for="floatingInput">Number of Refills</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>