@using DataAccess.DataModels
@model ViewUploads
@{
    Layout = "_AdminDashboardLayout";
    ViewData["Title"] = "View Uploads";
}
<link rel="stylesheet" href="~/css/patient/dashboard.css" asp-append-version="true" />


<div class="tab-content px-4" id="myTabContent">
    <div class="tab-pane fade show active" id="dashboard" role="tabpanel" aria-labelledby="dashboard-tab">

        <div class="container-fluid d-flex justify-content-center row ">

            <div class="col-8">

                <div class="d-flex justify-content-between mt-5">
                    <h4>Documents</h4>
                    <a href="@Url.Action("AdminDashboard", new{status= @Model.Status})" class="btn btn-outline-info shadow-none night-mode-btn">
                        <span>Back</span>
                    </a>
                </div>
                <div class="shadow p-3 dashboard-card mt-4">

                    <h4>@Model.PatientName</h4>
                    <div class="d-flex align-items-end">
                        @* <h4 class="text-info">@Model.Firstname @Model.Lastname</h4> *@
                        <h5 class="ms-2">MD101819PRBH0005</h5>
                        @* <h5 class="ms-2">(@Model.ConfirmationNumber)</h5> *@
                    </div>
                    <span>Check here for any files that you or the doctors of your subsequents requestors have attached for you to review.</span>
                    <form method="post" enctype="multipart/form-data">
                        <div class="row mt-2 mx-1">
                            <input asp-for="RequestId" hidden />
                            <input asp-for="reqClientId" hidden />
                            <input asp-for="File" class="form-control" type="file" id="file_input_id" style="opacity:0;height:0;">

                            <div class="input-group mb-3">
                                <input type="text" id='text_input_id' class="form-control" placeholder="Select File" style="caret-color: transparent" autocomplete="off">

                                <span class="input-group-text" id="text_input_span_id " style="background-color: #10bce9;">
                                    <div>
                                        @* <img src="/images/upload_icon.svg" alt="upload-icon"> *@
                                        <span class="ms-1 text-white">Upload</span>
                                    </div>
                                </span>

                            </div>
                            <div class="">

                                <button type="submit" class="px-4 py-2 btn btn-primary" style="background-color:#10bce9">
                                    <span class="ms-1 text-white">Save File</span>
                                </button>

                            </div>

                        </div>
                    </form>
                    <div class="d-flex justify-content-between">

                        <h4 class="mt-2">Documents</h4>
                        <div class="d-flex justify-content-end mt-2">

                            <button id="downloadAll" class="btn btn-outline-info shadow-none night-mode-btn mx-2">
                                <span>Download All</span>
                            </button>
                            <button onclick="" class="btn btn-outline-info shadow-none night-mode-btn mx-2">
                                <span>Delete All</span>
                            </button>
                            <button id="send-mail-btn" class="btn btn-outline-info shadow-none night-mode-btn mx-2">
                                <span>Send Mail</span>
                            </button>

                        </div>
                    </div>


                    <div class="mt-3">
                        <table class="table display nowrap" style="width:100%" id="table_viewUploads">
                            <colgroup>
                                <col span="1" style="width: 10%;">
                                <col span="1" style="width: 50%;">
                                <col span="1" style="width: 30%;">
                                <col span="1" style="width: 10%;">
                            </colgroup>

                            <thead class="table-head align-middle">
                                <tr>
                                    <th><input type="checkbox" id="checkall"></th>
                                    <th>Document</th>
                                    <th>Upload Date</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody class="table-body align-middle">
                                @for (int i = 0; i < Model.RequestWiseFiles.Count; i++)
                                {
                                    <tr class="table-row">
                                        <td>
                                            <input type="checkbox" class="checkbox" value="@Model.RequestWiseFiles[i].Requestwisefileid">
                                        </td>
                                        <td>
                                            <div>
                                                <svg height="20px" width="20px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 309.267 309.267" xml:space="preserve"><g>
                                                <path style="fill:#E2574C;" d="M38.658,0h164.23l87.049,86.711v203.227c0,10.679-8.659,19.329-19.329,19.329H38.658 c-10.67,0-19.329-8.65-19.329-19.329V19.329C19.329,8.65,27.989,0,38.658,0z" />
                                                <path style="fill:#B53629;" d="M289.658,86.981h-67.372c-10.67,0-19.329-8.659-19.329-19.329V0.193L289.658,86.981z" />
                                                <path style="fill:#FFFFFF;" d="M217.434,146.544c3.238,0,4.823-2.822,4.823-5.557c0-2.832-1.653-5.567-4.823-5.567h-18.44 c-3.605,0-5.615,2.986-5.615,6.282v45.317c0,4.04,2.3,6.282,5.412,6.282c3.093,0,5.403-2.242,5.403-6.282v-12.438h11.153 c3.46,0,5.19-2.832,5.19-5.644c0-2.754-1.73-5.49-5.19-5.49h-11.153v-16.903C204.194,146.544,217.434,146.544,217.434,146.544z M155.107,135.42h-13.492c-3.663,0-6.263,2.513-6.263,6.243v45.395c0,4.629,3.74,6.079,6.417,6.079h14.159 c16.758,0,27.824-11.027,27.824-28.047C183.743,147.095,173.325,135.42,155.107,135.42z M155.755,181.946h-8.225v-35.334h7.413 c11.221,0,16.101,7.529,16.101,17.918C171.044,174.253,166.25,181.946,155.755,181.946z M106.33,135.42H92.964 c-3.779,0-5.886,2.493-5.886,6.282v45.317c0,4.04,2.416,6.282,5.663,6.282s5.663-2.242,5.663-6.282v-13.231h8.379 c10.341,0,18.875-7.326,18.875-19.107C125.659,143.152,117.425,135.42,106.33,135.42z M106.108,163.158h-7.703v-17.097h7.703 c4.755,0,7.78,3.711,7.78,8.553C113.878,159.447,110.863,163.158,106.108,163.158z" /></g>
                                                                                                                                                                                                            </svg>
                                                <span>@Model.RequestWiseFiles[i].Filename</span>
                                            </div>
                                        </td>
                                        <td>@Model.RequestWiseFiles[i].Createddate.ToString("MMM dd, yyyy")</td>
                                        <td class="d-inline-flex justify-content-between" id="downloadBtn">
                                            <a href="~/UploadedFiles/@Model.RequestId/@Model.RequestWiseFiles[i].Filename" class="btn px-2 py-1 mx-1 btn-outline-info shadow-none night-mode-btn download-button" download>
                                                <svg width="25px" height="25px" viewBox="0 0 20 21" fill="" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M10.123 9.46486C10.1084 9.44618 10.0897 9.43108 10.0684 9.42069C10.0471 9.41031 10.0237 9.40491 9.99994 9.40491C9.97623 9.40491 9.95283 9.41031 9.93151 9.42069C9.91019 9.43108 9.89151 9.44618 9.8769 9.46486L7.6894 12.2324C7.67136 12.2555 7.66017 12.2831 7.65711 12.3122C7.65404 12.3413 7.65922 12.3706 7.67206 12.3969C7.6849 12.4232 7.70487 12.4453 7.72969 12.4608C7.75452 12.4763 7.7832 12.4845 7.81245 12.4844H9.2558V17.2188C9.2558 17.3047 9.32612 17.375 9.41205 17.375H10.5839C10.6699 17.375 10.7402 17.3047 10.7402 17.2188V12.4863H12.1874C12.3183 12.4863 12.3906 12.336 12.3105 12.2344L10.123 9.46486Z" fill="currentColor" />
                                                    <path d="M15.8477 7.66211C14.9531 5.30273 12.6738 3.625 10.0039 3.625C7.33398 3.625 5.05469 5.30078 4.16016 7.66016C2.48633 8.09961 1.25 9.625 1.25 11.4375C1.25 13.5957 2.99805 15.3438 5.1543 15.3438H5.9375C6.02344 15.3438 6.09375 15.2734 6.09375 15.1875V14.0156C6.09375 13.9297 6.02344 13.8594 5.9375 13.8594H5.1543C4.49609 13.8594 3.87695 13.5977 3.41602 13.123C2.95703 12.6504 2.71289 12.0137 2.73438 11.3535C2.75195 10.8379 2.92773 10.3535 3.24609 9.94531C3.57227 9.5293 4.0293 9.22656 4.53711 9.0918L5.27734 8.89844L5.54883 8.18359C5.7168 7.73828 5.95117 7.32227 6.24609 6.94531C6.53725 6.57169 6.88214 6.24326 7.26953 5.9707C8.07227 5.40625 9.01758 5.10742 10.0039 5.10742C10.9902 5.10742 11.9355 5.40625 12.7383 5.9707C13.127 6.24414 13.4707 6.57227 13.7617 6.94531C14.0566 7.32227 14.291 7.74023 14.459 8.18359L14.7285 8.89648L15.4668 9.0918C16.5254 9.37695 17.2656 10.3398 17.2656 11.4375C17.2656 12.084 17.0137 12.6934 16.5566 13.1504C16.3325 13.3758 16.0659 13.5546 15.7722 13.6763C15.4785 13.798 15.1636 13.8602 14.8457 13.8594H14.0625C13.9766 13.8594 13.9062 13.9297 13.9062 14.0156V15.1875C13.9062 15.2734 13.9766 15.3438 14.0625 15.3438H14.8457C17.002 15.3438 18.75 13.5957 18.75 11.4375C18.75 9.62695 17.5176 8.10352 15.8477 7.66211Z" fill="currentColor" />
                                                </svg>
                                            </a>
                                            <a onclick="deleteFile(@Model.RequestWiseFiles[i].Requestwisefileid)" class="btn px-2 py-1 btn-outline-info shadow-none night-mode-btn mx-1">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z" />
                                                    <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z" />
                                                </svg>
                                            </a>

                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>

                </div>

                <div style="height: 20px;"></div>

            </div>

        </div>

    </div>
    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
        <span>Profile</span>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous">
</script>

<script>
    // bind file-input-form click action to text-input-span
    $('#text_input_span_id').click(function () {
        $("#file_input_id").trigger('click');
    })
    // bind file-input-form click action to text-input-form
    $('#text_input_id').click(function () {
        $("#file_input_id").trigger('click');
    })
    // display file name in text-input-form
    $("#file_input_id").change(function () {
        $('#text_input_id').val(this.value.replace(/C:\\fakepath\\/i, ''))
    })
</script>

<script>
    var clicked = false;
    $("#checkall").on("click", function () {
        $(".checkbox").prop("checked", !clicked);
        clicked = !clicked;
        this.innerHTML = clicked ? 'Deselect' : 'Select';
    });
</script>
@* <script type="text/javascript">

    $(window).on('load', function () {
        new DataTable('#table_viewUploads', {
            paging: true,
            ordering: false,
            scrollX: true,
            searching: false
        });
    });
</script> *@

<script>
    document.getElementById('downloadAll').addEventListener('click', function () {
        var rows = document.querySelectorAll('table tbody tr');

        rows.forEach(function (row) {
            var checkbox = row.querySelector('input[type="checkbox"]');
            var downloadLink = row.querySelector('a.download-button');

            if (checkbox.checked) {
                // Trigger the download for the file in the row
                var fileUrl = downloadLink.getAttribute('href');
                downloadFile(fileUrl);
            }
        });
    });

    function downloadFile(fileUrl) {
        // Create a temporary link element to trigger the file download
        var link = document.createElement('a');
        link.href = fileUrl;
        link.download = fileUrl.substr(fileUrl.lastIndexOf('/') + 1);
        link.click();
    }
</script>
<script>
    function deleteFile(fileId) {
        $.ajax({
            url: "/Admin/DeleteFile",
            data: { Requestwisefileid: fileId },
            type: 'GET',
            success: function (result) {
                location.reload();
            },
            error: function (error) {
                console.log(error);
                alert('Error Cancelling Request')
            },
        });
    }
</script>
<script>

    $('#send-mail-btn').click(function () {

        let selectedFiles = [];

        $("input:checkbox:checked").each(function () {
            selectedFiles.push($(this).val());
        });

        $.ajax({
            url: "/Admin/SendFilesViaMail",
            type: 'POST',
            data: { fileIds: selectedFiles, requestId: @Model.RequestId },
            success: function (result) {
                location.reload();
            },
            error: function (error) {
                console.log(error);
                alert('Error Cancelling Request')
            },
        });
    });
</script>